<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.bjitgroup.easypurchase.nonRenewable.twenty</string>
	<string>com.bjitgroup.easypurchase.nonRenewable.thirty</string>
	<string>com.bjitgroup.easypurchase.nonRenewable.forty</string>
</array>
</plist>
